<section>
  <h1>Tell a friend about us!</h1>
    <%= form_tag '/invite', method: :post do |f|%>
      <%= label_tag :github_handle %>
      <%= text_field_tag :github_handle %>

      <%= submit_tag 'Send Invite' %>
    <% end %>


</section>
