---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 31e241fdf1d7a441c5a2bb6e6d24bd19d362fd25
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1589236050'
      Etag:
      - W/"89d51d09c03407329ce6f4241020ab84"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a4ea58148a4c3dd47456
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&page=2>; rel="next", <https://api.github.com/user/repos?sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261284787,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODQ3ODc=","name":"brownfield-of-dreams","full_name":"TravisBorgsmiller/brownfield-of-dreams","private":false,"owner":{"login":"TravisBorgsmiller","id":37959929,"node_id":"MDQ6VXNlcjM3OTU5OTI5","avatar_url":"https://avatars0.githubusercontent.com/u/37959929?v=4","gravatar_id":"","url":"https://api.github.com/users/TravisBorgsmiller","html_url":"https://github.com/TravisBorgsmiller","followers_url":"https://api.github.com/users/TravisBorgsmiller/followers","following_url":"https://api.github.com/users/TravisBorgsmiller/following{/other_user}","gists_url":"https://api.github.com/users/TravisBorgsmiller/gists{/gist_id}","starred_url":"https://api.github.com/users/TravisBorgsmiller/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TravisBorgsmiller/subscriptions","organizations_url":"https://api.github.com/users/TravisBorgsmiller/orgs","repos_url":"https://api.github.com/users/TravisBorgsmiller/repos","events_url":"https://api.github.com/users/TravisBorgsmiller/events{/privacy}","received_events_url":"https://api.github.com/users/TravisBorgsmiller/received_events","type":"User","site_admin":false},"html_url":"https://github.com/TravisBorgsmiller/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams","forks_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/TravisBorgsmiller/brownfield-of-dreams/deployments","created_at":"2020-05-04T20:10:07Z","updated_at":"2020-05-11T03:28:00Z","pushed_at":"2020-05-11T00:17:52Z","git_url":"git://github.com/TravisBorgsmiller/brownfield-of-dreams.git","ssh_url":"git@github.com:TravisBorgsmiller/brownfield-of-dreams.git","clone_url":"https://github.com/TravisBorgsmiller/brownfield-of-dreams.git","svn_url":"https://github.com/TravisBorgsmiller/brownfield-of-dreams","homepage":"","size":7663,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":10,"license":null,"forks":0,"open_issues":10,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":253923525,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM5MjM1MjU=","name":"shake_it_up","full_name":"caachz/shake_it_up","private":false,"owner":{"login":"caachz","id":49845456,"node_id":"MDQ6VXNlcjQ5ODQ1NDU2","avatar_url":"https://avatars2.githubusercontent.com/u/49845456?v=4","gravatar_id":"","url":"https://api.github.com/users/caachz","html_url":"https://github.com/caachz","followers_url":"https://api.github.com/users/caachz/followers","following_url":"https://api.github.com/users/caachz/fol[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 31e241fdf1d7a441c5a2bb6e6d24bd19d362fd25
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '158923[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 31e241fdf1d7a441c5a2bb6e6d24bd19d362fd25
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '158923[...]
