---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLMBTl5yXyrGQ68Ny1mXCAaSwbjpcVwm49&key=AIzaSyCxkM0HxRjODD4bszAkJBUTWbur-egd-M0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "XRNtit5nGDd0sHQed7uD69hHs7E",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "AIHQBFSWg_F6vfePKuvP5M9l7VU",
              "id": "PLMBTl5yXyrGQ68Ny1mXCAaSwbjpcVwm49",
              "snippet": {
                "publishedAt": "2015-02-21T20:23:04Z",
                "channelId": "UCsvn_Po0SmunchJYOWpOxMg",
                "title": "Dunkey's Greatest Hits",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/dGGegRjExsk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/dGGegRjExsk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/dGGegRjExsk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/dGGegRjExsk/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/dGGegRjExsk/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "videogamedunkey",
                "localized": {
                  "title": "Dunkey's Greatest Hits",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Mon, 11 May 2020 21:13:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyCxkM0HxRjODD4bszAkJBUTWbur-egd-M0&maxResults=50&part=snippet&playlistId=PLMBTl5yXyrGQ68Ny1mXCAaSwbjpcVwm49
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "v7-VHUjRTsq9V-5GYVVQRBO8xdU",
          "nextPageToken": "CDIQAA",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "OTroPYQNYgjP01MOrVFsjw3y2VM",
              "id": "UExNQlRsNXlYeXJHUTY4TnkxbVhDQWFTd2JqcGNWd200OS5GQkE1RUQxMTA5RkRDNDZB",
              "snippet": {
                "publishedAt": "2020-05-04T14:16:56Z",
                "channelId": "UCsvn_Po0SmunchJYOWpOxMg",
                "title": "Final Fantasy VII Remake (dunkview)",
                "description": "The Phantom Menace of video [...]
