---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2d8cf3f96ab33e2b49efe273b683dc74263a13df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1589234892'
      Etag:
      - W/"00ed85c8efd5f976160b6f34843230c7"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"javier-aguilar","id":7406971,"node_id":"MDQ6VXNlcjc0MDY5NzE=","avatar_url":"https://avatars2.githubusercontent.com/u/7406971?v=4","gravatar_id":"","url":"https://api.github.com/users/javier-aguilar","html_url":"https://github.com/javier-aguilar","followers_url":"https://api.github.com/users/javier-aguilar/followers","following_url":"https://api.github.com/users/javier-aguilar/following{/other_user}","gists_url":"https://api.github.com/users/javier-aguilar/gists{/gist_id}","starred_url":"https://api.github.com/users/javier-aguilar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/javier-aguilar/subscriptions","organizations_url":"https://api.github.com/users/javier-aguilar/orgs","repos_url":"https://api.github.com/users/javier-aguilar/repos","events_url":"https://api.github.com/users/javier-aguilar/events{/privacy}","received_events_url":"https://api.github.com/users/javier-aguilar/received_events","type":"User","site_admin":false},{"login":"tayjames","id":47490116,"node_id":"MDQ6VXNlcjQ3NDkwMTE2","avatar_url":"https://avatars0.githubusercontent.com/u/47490116?v=4","gravatar_id":"","url":"https://api.github.com/users/tayjames","html_url":"https://github.com/tayjames","followers_url":"https://api.github.com/users/tayjames/followers","following_url":"https://api.github.com/users/tayjames/following{/other_user}","gists_url":"https://api.github.com/users/tayjames/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
