---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2d8cf3f96ab33e2b49efe273b683dc74263a13df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1589234891'
      Etag:
      - W/"ca973060f7a2fc68550814d295b4d34c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&page=2>; rel="next", <https://api.github.com/user/repos?sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":243442715,"node_id":"MDEwOlJlcG9zaXRvcnkyNDM0NDI3MTU=","name":"enigma","full_name":"alex-latham/enigma","private":false,"owner":{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https://api.github.com/users/alex-latham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alex-latham/subscriptions","organizations_url":"https://api.github.com/users/alex-latham/orgs","repos_url":"https://api.github.com/users/alex-latham/repos","events_url":"https://api.github.com/users/alex-latham/events{/privacy}","received_events_url":"https://api.github.com/users/alex-latham/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alex-latham/enigma","description":"A
        Ruby tool for encrypting, decrypting, and cracking using a variable shift
        cipher algorithm. ","fork":false,"url":"https://api.github.com/repos/alex-latham/enigma","forks_url":"https://api.github.com/repos/alex-latham/enigma/forks","keys_url":"https://api.github.com/repos/alex-latham/enigma/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alex-latham/enigma/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alex-latham/enigma/teams","hooks_url":"https://api.github.com/repos/alex-latham/enigma/hooks","issue_events_url":"https://api.github.com/repos/alex-latham/enigma/issues/events{/number}","events_url":"https://api.github.com/repos/alex-latham/enigma/events","assignees_url":"https://api.github.com/repos/alex-latham/enigma/assignees{/user}","branches_url":"https://api.github.com/repos/alex-latham/enigma/branches{/branch}","tags_url":"https://api.github.com/repos/alex-latham/enigma/tags","blobs_url":"https://api.github.com/repos/alex-latham/enigma/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alex-latham/enigma/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alex-latham/enigma/git/refs{/sha}","trees_url":"https://api.github.com/repos/alex-latham/enigma/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alex-latham/enigma/statuses/{sha}","languages_url":"https://api.github.com/repos/alex-latham/enigma/languages","stargazers_url":"https://api.github.com/repos/alex-latham/enigma/stargazers","contributors_url":"https://api.github.com/repos/alex-latham/enigma/contributors","subscribers_url":"https://api.github.com/repos/alex-latham/enigma/subscribers","subscription_url":"https://api.github.com/repos/alex-latham/enigma/subscription","commits_url":"https://api.github.com/repos/alex-latham/enigma/commits{/sha}","git_commits_url":"https://api.github.com/repos/alex-latham/enigma/git/commits{/sha}","comments_url":"https://api.github.com/repos/alex-latham/enigma/comments{/number}","issue_comment_url":"https://api.github.com/repos/alex-latham/enigma/issues/comments{/number}","contents_url":"https://api.github.com/repos/alex-latham/enigma/contents/{+path}","compare_url":"https://api.github.com/repos/alex-latham/enigma/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alex-latham/enigma/merges","archive_url":"https://api.github.com/repos/alex-latham/enigma/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alex-latham/enigma/downloads","issues_url":"https://api.github.com/repos/alex-latham/enigma/issues{/number}","pulls_url":"https://api.github.com/repos/alex-latham/enigma/pulls{/number}","milestones_url":"https://api.github.com/repos/alex-latham/enigma/milestones{/number}","notifications_url":"https://api.github.com/repos/alex-latham/enigma/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alex-latham/enigma/labels{/name}","releases_url":"https://api.github.com/repos/alex-latham/enigma/releases{/id}","deployments_url":"https://api.github.com/repos/alex-latham/enigma/deployments","created_at":"2020-02-27T05:56:45Z","updated_at":"2020-05-11T03:42:44Z","pushed_at":"2020-05-11T03:42:41Z","git_url":"git://github.com/alex-latham/enigma.git","ssh_url":"git@github.com:alex-latham/enigma.git","clone_url":"https://github.com/alex-latham/enigma.git","svn_url":"https://github.com/alex-latham/enigma","homepage":"https://backend.turing.io/module1/projects/enigma/","size":202,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":261284787,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODQ3ODc=","name":"brownfield-of-dreams","full_name":"TravisBorgsmiller/brownfield-of-dreams","private":false,"owner":{"login":"TravisBorgsmiller","id":37959929,"node_id":"MDQ6VXNlcjM3OTU5OTI5","avatar_url":"https://avatars0.githubusercontent.com/u/37959929?v=4","gravatar_id":"","url":"https://api.github.com/users/TravisBorgsmiller","html_url":"https://github.com/TravisBorgsmiller","followers_url":"https://api.github.com/users/TravisBorgsm[...]
