---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2d8cf3f96ab33e2b49efe273b683dc74263a13df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1589234892'
      Etag:
      - W/"7ac881480fca633b6ca12894961c61c8"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/following?page=2>; rel="next", <https://api.github.com/user/following?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"brian-greeson","id":3604068,"node_id":"MDQ6VXNlcjM2MDQwNjg=","avatar_url":"https://avatars3.githubusercontent.com/u/3604068?v=4","gravatar_id":"","url":"https://api.github.com/users/brian-greeson","html_url":"https://github.com/brian-greeson","followers_url":"https://api.github.com/users/brian-greeson/followers","following_url":"https://api.github.com/users/brian-greeson/following{/other_user}","gists_url":"https://api.github.com/users/brian-greeson/gists{/gist_id}","starred_url":"https://api.github.com/users/brian-greeson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brian-greeson/subscriptions","organizations_url":"https://api.github.com/users/brian-greeson/orgs","repos_url":"https://api.github.com/users/brian-greeson/repos","events_url":"https://api.github.com/users/brian-greeson/events{/privacy}","received_events_url":"https://api.github.com/users/brian-greeson/received_events","type":"User","site_admin":false},{"login":"javier-aguilar","id":7406971,"node_id":"MDQ6VXNlcjc0MDY5NzE=","avatar_url":"https://avatars2.githubusercontent.com/u/7406971?v=4","gravatar_id":"","url":"https://api.github.com/users/javier-aguilar","html_url":"https://github.com/javier-aguilar","followers_url":"https://api.github.com/users/javier-aguilar/followers","following_url":"https://api.github.com/users/javier-aguilar/following{/other_user}","gists_url":"https://api.github.com/users/javier-aguilar/gists{/gist_id}","starr[...]
