---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c158761643d57431a0a03af4f5e11d81e1e792f3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1589233784'
      Etag:
      - W/"10b9f520715e3eb33b07c028011dfe79"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&page=2>; rel="next", <https://api.github.com/user/repos?sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261284930,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODQ5MzA=","name":"brownfield-of-dreams","full_name":"javier-aguilar/brownfield-of-dreams","private":false,"owner":{"login":"javier-aguilar","id":7406971,"node_id":"MDQ6VXNlcjc0MDY5NzE=","avatar_url":"https://avatars2.githubusercontent.com/u/7406971?v=4","gravatar_id":"","url":"https://api.github.com/users/javier-aguilar","html_url":"https://github.com/javier-aguilar","followers_url":"https://api.github.com/users/javier-aguilar/followers","following_url":"https://api.github.com/users/javier-aguilar/following{/other_user}","gists_url":"https://api.github.com/users/javier-aguilar/gists{/gist_id}","starred_url":"https://api.github.com/users/javier-aguilar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/javier-aguilar/subscriptions","organizations_url":"https://api.github.com/users/javier-aguilar/orgs","repos_url":"https://api.github.com/users/javier-aguilar/repos","events_url":"https://api.github.com/users/javier-aguilar/events{/privacy}","received_events_url":"https://api.github.com/users/javier-aguilar/received_events","type":"User","site_admin":false},"html_url":"https://github.com/javier-aguilar/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams","forks_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/javier-aguilar/brownfield-of-dreams/deployments","created_at":"2020-05-04T20:10:44Z","updated_at":"2020-05-11T18:38:49Z","pushed_at":"2020-05-11T18:38:46Z","git_url":"git://github.com/javier-aguilar/brownfield-of-dreams.git","ssh_url":"git@github.com:javier-aguilar/brownfield-of-dreams.git","clone_url":"https://github.com/javier-aguilar/brownfield-of-dreams.git","svn_url":"https://github.com/javier-aguilar/brownfield-of-dreams","homepage":"https://stormy-beach-81791.herokuapp.com/","size":7906,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":10,"license":null,"forks":0,"open_issues":10,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":258872577,"node_id":"MDEwOlJlcG9zaXRvcnkyNTg4NzI1Nzc=","name":"neos","full_name":"javier-aguilar/neos","private":false,"owner":{"login":"javier-aguilar","id":7406971,"node_id":"MDQ6VXNlcjc0MDY5NzE=","avatar_url":"https://avatars2.githubusercontent.com/u/7406971?v=4","gravatar_id":"","url":"https://api.github.com/users/javier-aguilar","html_url":"https://github.com/javier-aguilar","followers_url":"https://api.github.com/users/javier-aguilar/followers","following_url":"https://api.git[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c158761643d57431a0a03af4f5e11d81e1e792f3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '158923[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c158761643d57431a0a03af4f5e11d81e1e792f3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '158923[...]
